header{
    margin: -8px;
    width: 1366px;
    height: 100px;
    background-color: rgba(241, 211, 201);
}
nav{
    margin: -8px;
    width: 1366px;
    height: 60px;
    background-color: rgb(228, 188, 45);
}
main{
    margin: -8px;
    width: 1366px;
    height: 407px;
    background-color: rgb(199, 199, 199);
}
footer{
    margin: -8px;
    width: 1366px;
    height: 100px;
    background-color: rgb(196, 154, 140);
}
@font-face {
    font-family: 'LoraBold';
    src: url('Lora/Lora-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.redes:hover{
    transform: scale(1.1);
    transition-duration: 400ms;
}